<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="shortcut icon" href="gambar/icon.png" type="image/x-icon"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/style/style2.css">
    <title>Informasi Penyakit Cabai</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-xl">
            <a class="navbar-brand" href="#">
                <h3>AyamSehat.</h3>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item align-self-center active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item align-self-center active">
                        <a class="nav-link" href="informasi.html">Informasi <span class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a class="btn px-4 btn-primary ml-2 btn-register" href="$" role="button">Diagnosa</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <section id="form">
        <div class="container">
            <h1 class="mb-4">Form Diagnosa Penyakit</h1>
            <form id="diagnosaForm">
              <div class="mb-3">
                <label for="nama" class="form-label">Nama:</label>
                <input type="text" class="form-control" id="nama" required>
              </div>
              <div id="gejala-list" class="mb-3">
                <!-- Checkbox akan dimuat oleh JS -->
              </div>
              <button type="submit" class="btn btn-primary">Diagnosa</button>
            </form>
        
            <div class="mt-5" id="hasil"></div>
        </div>
    </section>
    <script src="/static/js/script.js"></script>
    <footer class="footer bg-light py-3 mt-10">
        <div class=" container-xl">
            <div class="row">
                <!-- Footer Column 1 -->
                <div class="col-md-4 mb-3">
                    <h5>Tentang </h5>
                    <p>Sistem pakar diagnosa penyakit cabai membantu petani cabai dalam melakukan diagnosa pada penyakit cabai.</p>
                </div>
                <!-- Footer Column 2 -->
                <div class="col-md-4 mb-3">
                    <h5>Link </h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="informasi.html">Informasi Penyakit</a></li>
                        <li><a href="diagnosa.html">Kunjungi halaman diagnosa</a></li>
                    </ul>
                </div>
                <!-- Footer Column 3 -->
                <div class="col-md-4 mb-3">
                    <h5>Kontak</h5>
                    <p>Teknik Informatika Universitas Lampung
                        <br>Bandar Lampung, Lampung
                        <br>2024/2025
                    </p>
                </div>
            </div>
            <!-- Footer Bottom -->
            <div class="text-center mt-4">
                <p class="mb-0">© 2025 Hak Cipta Dilindungi. Dibuat oleh Kelompok 1 Teknik Informatika Unila</p>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>


</body>
</html>