<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="shortcut icon" href="gambar/icon.png" type="image/x-icon"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/style/style2.css">
    <title>Informasi Penyakit Cabai</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-xl">
            <a class="navbar-brand" href="#">
                <h3>SiPedas</h3>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item align-self-center active">
                        <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item align-self-center active">
                        <a class="nav-link" href="#">Informasi <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item align-self-center">
                        <a class="btn px-4 btn-primary ml-2 btn-register" href="diagnosa.html" role="button">Diagnosa</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <section class="bg-light" id="hero">
    <div class="container">
        <div id="wrapper" >
            <div class="col margin-top d-flex justify-content-center flex-column text-center">
                <h1 class="font-weight-normal sub-heading ">Data Penyakit </h1>
                <p class="font-weight-light">Berikut merupakan data penyakit tanaman cabai yang sering 
                    dijumpai saat budidaya cabai. Setiap penyakit memiliki ciri khas gejala, 
                    penyebab, serta dampak terhadap pertumbuhan dan hasil tanaman.</p>
            </div>
        </div>
            <section id="penyakit" >
                <div class="row row-cols-1 row-cols-md-3 g-4 mb-4 justify-content-center">
                    <div class="col">
                      <div class="card h-100">
                        <img src="../static/Foto Cabai/layu 1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">P1 : Penyakit Layu Fusarium </h5>
                          <p class="card-text">Penyakit ini disebabkan oleh jamur Fusarium oxysporum yang menyerang pembuluh xilem 
                            tanaman, menyebabkan tanaman layu, menguning, dan akhirnya mati.</p>
                          <a href="/template/detailPenyakit/p1.html" class="btn btn-primary mt-auto">Detail Penyakit</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../static/Foto Cabai/Busuk buah 2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">P2 : Penyakit Busuk Buah </h5>
                          <p class="card-text"> Penyakit ini biasanya disebabkan oleh jamur seperti 
                            Colletotrichum atau Phytophthora, menyerang buah yang matang atau hampir matang, 
                            menimbulkan bercak busuk berwarna coklat kehitaman. </p>
                          <a href="/template/detailPenyakit/p2.html" class="btn btn-primary mt-auto">Detail Penyakit</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../static/Foto Cabai/IMG_0522 (2).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">P3 :  Penyakit Virus Kuning </h5>
                          <p class="card-text">Penyakit ini ditularkan oleh serangga seperti kutu kebul 
                            dan menyebabkan daun menguning, mengecil, dan pertumbuhan tanaman terganggu 
                            secara signifikan.</p>
                          <a href="/template/detailPenyakit/p3.html" class="btn btn-primary mt-auto">Detail Penyakit</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../static/Foto Cabai/hama-penyakit-pada-cabai-penyakit-busuk-bakteri-pada-cabai.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">P4 : Penyakit Layu Bakteri </h5>
                          <p class="card-text">Disebabkan oleh bakteri Ralstonia solanacearum, 
                            penyakit ini menyerang sistem perakaran dan pembuluh tanaman, 
                            menyebabkan tanaman tiba-tiba layu meski kondisi tanah lembab. </p>
                          <a href="/template/detailPenyakit/p4.html" class="btn btn-primary mt-auto">Detail Penyakit</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                          <img src="../static/Foto Cabai/gejala-phytophtora-5- rebah semai.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">P5 : Penyakit Rebah Semai</h5>
                            <p class="card-text">Merupakan penyakit yang menyerang bibit muda, menyebabkan batang 
                                dekat permukaan tanah membusuk dan tanaman rebah. 
                                Penyebab utamanya adalah jamur Pythium atau Rhizoctonia.</p>
                            <a href="/template/detailPenyakit/p5.html" class="btn btn-primary mt-auto">Detail Penyakit</a>  
                        </div>
                        </div>
                      </div>
                  </div>
            </section>
    </div>
    </section>
    <section section class="margin-top container-xl">
        <div class="row margin-top d-flex flex-column">
            <div class="col margin-top d-flex justify-content-center flex-column text-center">
                <h1 class="font-weight-normal sub-heading ">Data Gejala</h1>
                <p class="font-weight-light">Berikut merupakan data gejala yang muncul pada tanaman 
                    cabai sebagai indikasi awal adanya serangan penyakit. Setiap gejala dapat terkait 
                    dengan satu atau lebih jenis penyakit tertentu. Identifikasi gejala yang akurat 
                    sangat penting dalam proses diagnosis penyakit secara cepat dan efektif melalui sistem pakar berbasis teorema bayes.

                </p>
            </div>

            <div class="col margin-top">
                <div class="accordion mb-5" id="accordionExample">
                    <div class="card mb-3">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn font-weight-bold btn-block text-left" type="button"
                                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    Tanaman Tampak Layu pada Siang Hari
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse " aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Tanaman kehilangan turgor akibat gangguan penyerapan air, 
                                biasanya disebabkan oleh infeksi akar atau pembuluh.
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn font-weight-bold btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    Daun Muda Tampak Mengering 
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Menunjukkan adanya serangan patogen atau kekurangan air dan unsur 
                                hara yang menyerang jaringan daun muda.
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn font-weight-bold btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    Buah Tampak Menguning 
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Warna buah berubah sebelum waktunya, indikasi infeksi jamur 
                                atau virus yang menghambat proses pematangan normal.
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <button class="btn font-weight-bold btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseFour">
                                    Daun Mulai Mengerut 
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Permukaan daun tampak kusut atau melipat, seringkali akibat serangan virus 
                                atau gangguan sistem vaskular tanaman.
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" id="headingFive">
                            <h2 class="mb-0">
                                <button class="btn font-weight-bold btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                                    aria-controls="collapseFive">
                                    Tanaman Kerdil </button>
                            </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Pertumbuhan tanaman terhambat, biasanya disebabkan oleh infeksi virus atau 
                                gangguan akar yang mengganggu penyerapan nutrisi.    
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" id="headingSix">
                            <h2 class="mb-0">
                                <button class="btn font-weight-bold btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
                                    aria-controls="collapseSix">
                                    Bercak Kuning pada Daun </button>
                            </h2>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Tanda awal infeksi virus atau jamur, 
                                menyebabkan klorosis lokal pada permukaan daun. </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" id="headingSeven">
                            <h2 class="mb-0">
                                <button class="btn font-weight-bold btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false"
                                    aria-controls="collapseSeven">
                                    Batang Tampak Mengering   </button>
                            </h2>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Gejala lanjutan dari penyakit layu atau busuk batang, seringkali disebabkan oleh jamur atau bakteri sistemik.
                             </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" id="headingEight">
                            <h2 class="mb-0">
                                <button class="btn font-weight-bold btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseEight" aria-expanded="false"
                                    aria-controls="collapseFive">
                                    Buah Tampak Mengering  </button>
                            </h2>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Buah kehilangan kelembapan dan menjadi keriput; 
                                bisa akibat infeksi pasca-panen atau jamur buah.
                             </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" id="headingNine">
                            <h2 class="mb-0">
                                <button class="btn font-weight-bold btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseNine" aria-expanded="false"
                                    aria-controls="collapseFive">
                                    Retak pada Daun</button>
                            </h2>
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Adanya pecahan atau luka pada permukaan daun, 
                                bisa disebabkan oleh kekurangan air atau infeksi jamur.
    
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" id="headingTen">
                            <h2 class="mb-0">
                                <button class="btn font-weight-bold btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseTen" aria-expanded="false"
                                    aria-controls="collapseFive">
                                    Bercak Putih seperti Kapur pada Daun  </button>
                            </h2>
                        </div>
                        <div id="collapseTen" class="collapse" aria-labelledby="headingTen"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Menandakan adanya infeksi jamur permukaan seperti powdery mildew yang tampak seperti tepung putih.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer bg-light py-3 mt-10">
        <div class=" container-xl">
            <div class="row">
                <!-- Footer Column 1 -->
                <div class="col-md-4 mb-3">
                    <h5>Tentang </h5>
                    <p>Sistem pakar diagnosa penyakit cabai membantu petani cabai dalam melakukan diagnosa pada penyakit cabai.</p>
                </div>
                <!-- Footer Column 2 -->
                <div class="col-md-4 mb-3">
                    <h5>Link </h5>
                    <ul class="list-unstyled">
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="#">Informasi Penyakit</a></li>
                        <li><a href="diagnosa.html">Kunjungi halaman diagnosa</a></li>
                    </ul>
                </div>
                <!-- Footer Column 3 -->
                <div class="col-md-4 mb-3">
                    <h5>Kontak</h5>
                    <p>Teknik Informatika Universitas Lampung
                        <br>Bandar Lampung, Lampung
                        <br>2024/2025
                    </p>
                </div>
            </div>
            <!-- Footer Bottom -->
            <div class="text-center mt-4">
                <p class="mb-0">© 2025 Hak Cipta Dilindungi. Dibuat oleh Kelompok 1 Teknik Informatika Unila</p>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>


</body>
</html>