@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.kiri {
  margin: 1%;
  margin-top: auto;
  width: 15%;
  height: auto;
  border-radius: 5px 5px 5px 5px;
  float: left;
}

.kanan {
  margin: 1%;
  margin-top: auto;
  width: 75%;
  height: auto;
  float: left;
}

.logo {
  display: flex;
  margin: 30px, 0px;
  align-content: center;
}

.teks {
  font-size: medium;
}

.nav-link {
  text-align: left;
}

.isi:hover a {
  background-color: rgb(35, 87, 155);
  color: #ffff;
}


.heading {
  font-size: 4em;
}
.sub-heading {
  font-size: 3em;
}

.navbar {
  margin-top: 15px;
}

.col label {
  font-weight: 400;
  color: #2f281e;
}

.btn-register {
  border-radius: 10px;
  margin: 20px 20px;
  font-size: 16px;
  font-weight: 400;
}
.btn-primary {
  background: #ffb39050;
  border: none;
  color: red;
  border-radius: 10px;
}
.btn-primary:hover{
    background: #eb0d0d;
    border: 0px;
}
.btn-success {
  background: #00d25b50;
  border: none;
  color: #00d25b;
  border-radius: 10px;
}
.margin-top {
  margin-top: 1em;
}

a{
    color: black;
}
a:hover{
    color: #eb0d0d;
    border: 0px;
}

@media screen and (max-width: 600px) {
  .navbar{
    margin-left: 10px;
    margin-right: 10px;
  }
  img{
    width: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .btn-primary,
  .btn-secondary,
  .card {
    margin-top: 10px;
    margin-left: 0 !important;
  }
  .navbar{
    margin-left: 10px;
    margin-right: 10px;
  }
}